/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html, nav, body, section, article, ul, li, h1, h2, p, strong, em, a, button, input, img {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   font: inherit;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
   list-style-type: none;
 }

 html {
   font-family: 'Sigmar One', sans-serif;
   background-image: url("https://i.ytimg.com/vi/LcL6oQdNzLg/maxresdefault.jpg");
 }

 body {

 }

 button {
   background: red;
   border: 1px solid black;
   color: black;
   border-radius: 5px;
   box-shadow: 0 2px 0 black;
   padding: 5px 10px;
   text-shadow: 0 0 2px #fff;
   margin: auto;
   display: block;
   margin-top: 30px;
 }

 h1 {
   font-size: 50px;
   display: block;
   text-align: center;
   background-color: navy;
   text-shadow: 0 0 6px #fff;
}

li {
  float: left;
  width: 50px;
  height: 50px;
  border: 5px solid black;
  /*background: #006994;*/
  cursor: pointer;
}

.screen {
  width: 800px;
  margin: auto;
  display: block;
  margin-top: 30px;
}

.player{
  width: 300px;
  float: left;
}

button > div.screen {
  background: yellow;
}
.cpu{
  width: 300px;
  float: right;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

p {
  text-align: center;
  display:block;
  font-size: 25px;
  text-shadow: 0 0 6px #000;
  color: red;
  width: 500px;
  margin: auto;
  margin-top: 30px;
}

input {
  background: white;
  display: block;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.description {
  width: 840px;
  padding: 20px;
  margin: auto;
  background: #cccccc;
}

.directions {
  float: left;
  width: 400px;
  color: black;
  text-shadow: 0 0 1px #000;
  font-size: 24px;
}

.squares {
  float: right;
  width: 75px;
}

ul.squares > li {
  margin-bottom: 60px;
}
